{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
    <section class="heading">
        <img src="/static/img/twitterblue .svg" class="logo">
        <h1>Edit</h1>
    </section>
    <section class="post_form">
        <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="text"  name="name" value="{{post.name}}" >
            <input type="text" name="body" value="{{post.body}}" required > 
            <img src="{{ post.image.url }}" alt="">
            <input type="file" id="myFile" name="image" style ="background-color: whitesmoke; color: grey; width: 213px;">
            <input type="submit" id="cancel" value="Cancel">
            <input type="submit" id="tweet" value="Update">
           
        </form>
    </section>
</section>
<script  src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
<script src="{% static 'js/post.js' %}"></script>
</section>

{% endblock %}
